
# Virtual Environments
penv
renv

# VsCode workspace configuration
datathon.code-workspace

# R personal configuratiom
.Rprofile
renv.lock

# Specifical Folders
Cajamar_Agro_Analysis_EOI_Datacrop
Cajamar_Agro_Analysis_Mondragon_Unibertsitatea_The_Data_Masters

# Log from webdriver chosen
geckodriver.log

# Folder which saves compiled python files
src/__pycache__/*

# Logs generated
*.log

# Trash not important to keep online
RestosNoClasificados/**

# Too large for Github
docs/FaseLocal- Datahackers.zip
