
# Virtual Environments
penv
renv
venv

# VsCode workspace configuration
datathon.code-workspace
.devcontainer/*

# R personal configuratiom
.Rprofile
renv.lock

# Specifical Folders
Cajamar_Agro_Analysis_EOI_Datacrop
Cajamar_Agro_Analysis_Mondragon_Unibertsitatea_The_Data_Masters

# Log from webdriver chosen
geckodriver.log

# Folder which saves compiled python files
src/__pycache__/*

# Logs generated
*.log

# Trash not important to keep online
RestosNoClasificados/**

# Secrets
config.yml

# Too large for Github
**/FaseLocal- Datahackers.zip
**/df_ventas_4_1.xlsx
**/dfVentasDefinitivo.csv
**/dfVentas.xlsx
**/dfVentasDef_V3.csv

**/df_ventas_1.csv
**/items_ordered_2years.csv
**/df_ventas_3.csv
**/df_ventas_2.csv
**/df_ventas_1.csv
**/items_ordered_2years_V2.csv


