# Virtual Environments
penv
renv
venv
.devcontainer/*

# VsCode workspace configuration
datathon.code-workspace

# R personal configuratiom
.Rprofile
renv.lock

# Specifical Folders
Cajamar_Agro_Analysis_EOI_Datacrop
Cajamar_Agro_Analysis_Mondragon_Unibertsitatea_The_Data_Masters

# Files too large
df_ventas_4_1.xlsx
dfVentasdefinitivo.csv
